.header {
	background: #1c1c1c;
}
.brand {
	font-weight: bold!important;
	font-size: 18px!important;
	color: #B18FCF!important;
}
.navbar {
	padding: 0 24px!important;
	height: 60px;
}
.grow {
	align-self: stretch!important;
}
.link {
	padding: 0 12px!important;
	line-height: 60px;
	color: #EAEAEA!important;
}
.active {
	background: #2e2e2e ;
	color: #B18FCF!important;
}
.link:hover {
	text-decoration: underline!important;
	color: #B18FCF!important;
	background: #2e2e2e ;
}
